<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id">Contact Details</h2>
    <h2 *ngIf="!contact._id">New Contact</h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-name">Name</label>
      <input class="form-control" name="contact-name" [(ngModel)]="contact.name" placeholder="Homer Simpson"/>
    </div>
    <div class="form-group">
      <label for="contact-email">Email</label>
      <input class="form-control" name="contact-email" [(ngModel)]="contact.email" placeholder="hsimpson@springfield.com"/>
    </div>
    <div class="form-group">
      <label for="contact-phone">Phone</label>
      <input class="form-control" name="contact-phone" [(ngModel)]="contact.phone" placeholder="(636) 555-7666"/>
    </div>
    <div class="form-group">
      <label for="contact-address">Phone</label>
      <input class="form-control" name="contact-address" [(ngModel)]="contact.address" placeholder="742 Evergreen Terrace"/>
    </div>
    <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
  </form>
</div>
